@mixin flexy($flx-dir, $jst-ctn, $aln-it) {
  display: flex;
  flex-direction: $flx-dir;
  justify-content: $jst-ctn;
  align-items: $aln-it;
}

.jui-dd-select {
  @include flexy(row, space-between, center);
  border: 1px solid var(--bold-font-color);
  border-radius: var(--bord-rad);
  max-width: 175px;
  padding: 0.5rem;
  font-family: "Lato";
  &:focus {
    border: 1px solid var(--focus);
  }
}
