.checkbox {
  -webkit-appearance: none;
  appearance: none;
  margin: 0 1rem 0 0;
  background-color: transparent;
  font: inherit;
  width: 1.15rem;
  height: 1.15rem;
  border: 0.15rem solid black;
  border-radius: 0.15rem;
  transform: translateY(-0.075rem);
  display: grid;
  place-content: center;
  cursor: pointer;
  margin: 0;
  &::before {
    content: "";
    width: 0.65rem;
    height: 0.65rem;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1rem 1rem var(--focus);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }
  &:checked::before {
    transform: scale(1);
  }
  &:focus {
    outline: 2px solid #8ab4f8;
    outline-offset: 2px;
  }
  &:disabled {
    border: 0.15rem solid #ccc;
    box-shadow: inset 1rem 1rem #ccc;
    outline: 2px solid #e2e2e2;
  }
}
