@use '../Select/Select.module.scss';

@mixin acc-header() {
  @include Select.flexy(row, center, center);
  color: var(--label-color);
  font-weight: 500;
}

.jui__accordion {
  display: block;
  background-color: white;
  color: var(--label-color);
  width: clamp(300px, 80%, 600px);
  box-shadow: var(--gentle-shadow);
  transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  &.expanded {
    margin-bottom: 1rem;
  }
}

.jui__summary {
  @include Select.flexy(row, center, center);
  width: calc(100% - 2rem);
  background-color: inherit;
  padding: 1rem;
}

.jui__summary header {
  @include acc-header();
  font-family: "Lato", sans-serif;
  flex-grow: 1;
  justify-content: flex-start;
}

.jui__summary--icon {
  @include acc-header();
  display: block;
  block-size: 100%;
  flex-shrink: 0;
  transform: rotate(0deg);
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  &.expanded {
    transform: rotate(180deg);
  }
}

.jui__content {
  @include Select.flexy(row, center, center);
  padding: 1rem;
}

.jui__content--wrapper {
  display: block;
  width: 100%;
  background-color: white;
  overflow: hidden;
  transition: max-height 150ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Lato", sans-serif;
}
